<div class="container">
	<h2>商品詳細</h2>
	<table class="table">
		<thead class="thead bg-info text-white">
			<tr>
				<th scope="col"></th>
				<th scope="col">商品名</th>
				<th scope="col">商品説明</th>
				<th scope="col">税込価格</th>
				<th scope="col">ジャンル</th>
				<th scope="col">販売ステータス</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td><%= attachment_image_tag @item, :image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg" %></td>
					<td><%= @item.name %></td>
					<td><%= @item.description %></td>
					<td>¥<%= (@item.price*1.1).round %></td>
		            <td><%= @item.genre_id %></td>
		            <td><%= @item.status %></td>
		            <td><%= link_to "編集", edit_admins_item_path(@item) %></td>
				</tr>
		</tbody>
	</table>
</div>